<!--
  navbar.component.html

  WHY:
  Top navbar gives dashboard a professional admin-panel look.
-->

<header class="navbar">
  <div>
    <p class="welcome">
      <mat-icon>waving_hand</mat-icon>
      Welcome back
    </p>
    <h1>Issue Tracking Dashboard</h1>
  </div>

  <div class="right-section">
    <div class="search-box">
      <mat-icon>search</mat-icon>
      <input type="text" placeholder="Search issues, projects..." />
    </div>

    <div class="profile">
      <div class="avatar">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div>
        <h4>Vikash</h4>
        <p>Admin</p>
      </div>
    </div>
  </div>
</header>